.desktop {
    background-color: #141332;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #141332;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desktop .overlap {
    position: absolute;
    width: 1108px;
    height: 816px;
    top: 159px;
    left: 340px;
}

.desktop .group {
    position: absolute;
    width: 678px;
    height: 362px;
    top: 454px;
    left: 402px;
}

.desktop .overlap-group {
    position: relative;
    width: 668px;
    height: 362px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .text-wrapper {
    position: absolute;
    width: 184px;
    top: 35px;
    left: 28px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20.8px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-2 {
    position: absolute;
    top: 91px;
    left: 81px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #adaad7;
    font-size: 12.1px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-3 {
    top: 94px;
    left: 256px;
    font-family: "General Sans Variable-Regular", Helvetica;
    color: #adaad7;
    font-size: 12.1px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-4 {
    position: absolute;
    top: 95px;
    left: 407px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #adaad7;
    font-size: 12.1px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-5 {
    position: absolute;
    top: 95px;
    left: 552px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #adaad7;
    font-size: 12.1px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-2 {
    position: absolute;
    width: 555px;
    height: 22px;
    top: 141px;
    left: 74px;
}

.desktop .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-7 {
    position: absolute;
    width: 109px;
    top: 1px;
    left: 182px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-8 {
    position: absolute;
    width: 109px;
    top: 2px;
    left: 337px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .div-wrapper {
    position: absolute;
    width: 69px;
    height: 20px;
    top: 2px;
    left: 478px;
    background-color: #02b15926;
    border-radius: 8.67px;
}

.desktop .text-wrapper-9 {
    position: absolute;
    top: 3px;
    left: 10px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #02b159;
    font-size: 10.4px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-3 {
    position: absolute;
    width: 555px;
    height: 21px;
    top: 205px;
    left: 74px;
}

.desktop .text-wrapper-10 {
    position: absolute;
    width: 97px;
    top: 1px;
    left: 182px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-11 {
    width: 97px;
    top: 0;
    left: 337px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    font-size: 13.9px;
    white-space: nowrap;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-2 {
    position: absolute;
    width: 69px;
    height: 20px;
    top: 1px;
    left: 478px;
    background-color: #02b15926;
    border-radius: 8.67px;
}

.desktop .group-4 {
    position: absolute;
    width: 557px;
    height: 22px;
    top: 265px;
    left: 72px;
}

.desktop .text-wrapper-12 {
    width: 109px;
    top: 0;
    left: 338px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    font-size: 13.9px;
    white-space: nowrap;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 183px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-14 {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.9px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-3 {
    position: absolute;
    width: 69px;
    height: 20px;
    top: 2px;
    left: 480px;
    background-color: #02b15926;
    border-radius: 8.67px;
}

.desktop .overlap-wrapper {
    position: absolute;
    width: 376px;
    height: 172px;
    top: 643px;
    left: 7px;
}

.desktop .overlap-4 {
    position: relative;
    width: 374px;
    height: 172px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .arrow-wrapper {
    position: absolute;
    width: 52px;
    height: 61px;
    top: 56px;
    left: 28px;
    background-color: #64cff6;
    border-radius: 10px;
}

.desktop .arrow {
    height: 21px;
    left: 17px;
    position: absolute;
    width: 16px;
    top: 21px;
}

.desktop .text-wrapper-15 {
    width: 108px;
    top: 51px;
    left: 107px;
    position: absolute;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-group-wrapper {
    position: absolute;
    width: 380px;
    height: 164px;
    top: 454px;
    left: 0;
}

.desktop .overlap-5 {
    position: relative;
    width: 374px;
    height: 164px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .img-wrapper {
    position: absolute;
    width: 52px;
    height: 59px;
    top: 53px;
    left: 33px;
    background-color: #6359e9;
    border-radius: 10px;
}

.desktop .img {
    height: 20px;
    left: 20px;
    position: absolute;
    width: 16px;
    top: 21px;
}

.desktop .text-wrapper-16 {
    width: 124px;
    top: 82px;
    left: 110px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-17 {
    width: 126px;
    top: 48px;
    left: 110px;
    position: absolute;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-6 {
    width: 73px;
    height: 30px;
    top: 90px;
    left: 270px;
    background-color: #eb001a26;
    position: absolute;
    border-radius: 10px;
}

.desktop .text-wrapper-18 {
    position: absolute;
    width: 48px;
    top: 5px;
    left: 13px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #e41313;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-5 {
    position: absolute;
    width: 994px;
    height: 774px;
    top: 0;
    left: 114px;
}

.desktop .overlap-7 {
    position: absolute;
    width: 668px;
    height: 427px;
    top: 0;
    left: 288px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .text-wrapper-19 {
    position: absolute;
    width: 109px;
    top: 21px;
    left: 24px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-8 {
    width: 75px;
    height: 30px;
    top: 30px;
    left: 569px;
    border: 1px solid;
    border-color: #aeabd880;
    position: absolute;
    border-radius: 10px;
}

.desktop .text-wrapper-20 {
    position: absolute;
    width: 32px;
    top: 6px;
    left: 8px;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .vector {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 12px;
    left: 58px;
}

.desktop .ellipse {
    left: 313px;
    position: absolute;
    width: 12px;
    height: 13px;
    top: 31px;
}

.desktop .ellipse-2 {
    left: 438px;
    position: absolute;
    width: 12px;
    height: 13px;
    top: 31px;
}

.desktop .text-wrapper-21 {
    position: absolute;
    width: 57px;
    top: 26px;
    left: 337px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-22 {
    position: absolute;
    width: 72px;
    top: 26px;
    left: 464px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-group-2 {
    position: absolute;
    width: 588px;
    height: 196px;
    top: 162px;
    left: 56px;
}

.desktop .line {
    top: 7px;
    left: 0;
    position: absolute;
    width: 588px;
    height: 1px;
    object-fit: cover;
}

.desktop .line-2 {
    top: 68px;
    left: 0;
    position: absolute;
    width: 588px;
    height: 1px;
    object-fit: cover;
}

.desktop .line-3 {
    top: 132px;
    left: 0;
    position: absolute;
    width: 588px;
    height: 1px;
    object-fit: cover;
}

.desktop .line-4 {
    top: 195px;
    left: 0;
    position: absolute;
    width: 588px;
    height: 1px;
    object-fit: cover;
}

.desktop .rectangle {
    position: absolute;
    width: 7px;
    height: 104px;
    top: 92px;
    left: 33px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-2 {
    position: absolute;
    width: 7px;
    height: 104px;
    top: 92px;
    left: 263px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-3 {
    position: absolute;
    width: 7px;
    height: 167px;
    top: 29px;
    left: 47px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-4 {
    position: absolute;
    width: 7px;
    height: 167px;
    top: 29px;
    left: 278px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-5 {
    position: absolute;
    width: 7px;
    height: 151px;
    top: 45px;
    left: 111px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-6 {
    position: absolute;
    width: 7px;
    height: 151px;
    top: 45px;
    left: 338px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-7 {
    position: absolute;
    width: 7px;
    height: 78px;
    top: 117px;
    left: 190px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-8 {
    position: absolute;
    width: 7px;
    height: 112px;
    top: 84px;
    left: 416px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-9 {
    position: absolute;
    width: 7px;
    height: 112px;
    top: 84px;
    left: 490px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-10 {
    position: absolute;
    width: 7px;
    height: 112px;
    top: 84px;
    left: 565px;
    background-color: #64cff6;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-11 {
    position: absolute;
    width: 7px;
    height: 105px;
    top: 91px;
    left: 125px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-12 {
    position: absolute;
    width: 7px;
    height: 196px;
    top: 0;
    left: 352px;
    background-color: var(--blue-hepatica80);
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-13 {
    position: absolute;
    width: 7px;
    height: 79px;
    top: 116px;
    left: 430px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-14 {
    position: absolute;
    width: 7px;
    height: 79px;
    top: 116px;
    left: 579px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-15 {
    position: absolute;
    width: 7px;
    height: 79px;
    top: 116px;
    left: 504px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-16 {
    position: absolute;
    width: 7px;
    height: 124px;
    top: 72px;
    left: 204px;
    background-color: #6359e9;
    border-radius: 10px 10px 0px 0px;
}

.desktop .rectangle-17 {
    position: absolute;
    width: 114px;
    height: 61px;
    top: 11px;
    left: 359px;
    background-color: #464686;
    border-radius: 7.89px 7.89px 7.89px 0px;
    box-shadow: 0px 26.84px 39.47px #0000002b;
}

.desktop .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.16px;
    position: absolute;
    width: 79px;
    height: 34px;
    top: 25px;
    left: 377px;
}

.desktop .text {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16.3px;
}

.desktop .span {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16.3px;
}

.desktop .line-5 {
    top: 106px;
    left: 56px;
    position: absolute;
    width: 588px;
    height: 1px;
    object-fit: cover;
}

.desktop .text-wrapper-23 {
    position: absolute;
    width: 26px;
    top: 96px;
    left: 24px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-24 {
    position: absolute;
    width: 32px;
    top: 159px;
    left: 24px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-25 {
    position: absolute;
    width: 32px;
    top: 221px;
    left: 24px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-26 {
    position: absolute;
    width: 26px;
    top: 285px;
    left: 24px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-27 {
    position: absolute;
    width: 26px;
    top: 348px;
    left: 24px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-28 {
    position: absolute;
    width: 27px;
    top: 370px;
    left: 89px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-29 {
    position: absolute;
    width: 30px;
    top: 370px;
    left: 167px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-30 {
    width: 27px;
    top: 370px;
    left: 246px;
    font-family: "General Sans Variable-Regular", Helvetica;
    color: #8c89b4;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-31 {
    position: absolute;
    width: 26px;
    top: 370px;
    left: 321px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-32 {
    position: absolute;
    width: 24px;
    top: 370px;
    left: 472px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-33 {
    position: absolute;
    width: 31px;
    top: 370px;
    left: 395px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-34 {
    position: absolute;
    width: 20px;
    top: 370px;
    left: 549px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-35 {
    position: absolute;
    width: 30px;
    top: 370px;
    left: 621px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #8c89b4;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-9 {
    position: absolute;
    width: 109px;
    height: 45px;
    top: 729px;
    left: 0;
    background-color: #6359e9;
    border-radius: 20px;
}

.desktop .text-wrapper-36 {
    position: absolute;
    top: 8px;
    left: 27px;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-6 {
    position: absolute;
    width: 380px;
    height: 427px;
    top: 0;
    left: 7px;
}

.desktop .overlap-10 {
    position: relative;
    width: 374px;
    height: 427px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .text-wrapper-37 {
    width: 98px;
    top: 19px;
    left: 23px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .card {
    position: absolute;
    width: 330px;
    height: 181px;
    top: 80px;
    left: 13px;
}

.desktop .overlap-group-3 {
    position: relative;
    width: 328px;
    height: 183px;
    top: -1px;
    left: -1px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgb(156, 44, 243) 0%, rgb(58.01, 111.38, 248.63) 100%);
}

.desktop .text-wrapper-38 {
    width: 150px;
    top: 65px;
    left: 29px;
    font-family: "Cera Pro-Medium", Helvetica;
    font-weight: 500;
    font-size: 28px;
    white-space: nowrap;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-39 {
    position: absolute;
    width: 130px;
    top: 34px;
    left: 25px;
    opacity: 0.54;
    font-family: "Cera Pro-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-11 {
    position: absolute;
    width: 156px;
    height: 47px;
    top: 291px;
    left: 19px;
    background-image: url(./img/rectangle-29.svg);
    background-size: 100% 100%;
}

.desktop .text-wrapper-40 {
    position: absolute;
    width: 97px;
    top: 13px;
    left: 28px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-12 {
    width: 156px;
    height: 47px;
    top: 292px;
    left: 194px;
    border: 1px solid;
    border-color: #ffffff;
    position: absolute;
    border-radius: 10px;
}

.desktop .text-wrapper-41 {
    width: 57px;
    top: 13px;
    left: 52px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-7 {
    position: absolute;
    width: 339px;
    height: 57px;
    top: 33px;
    left: 347px;
}

.desktop .overlap-13 {
    position: relative;
    width: 335px;
    height: 57px;
}

.desktop .welcome-back-user {
    position: absolute;
    width: 275px;
    top: 0;
    left: 0;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .aaaa {
    position: absolute;
    top: 35px;
    left: 1px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #a5a5a5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-8 {
    position: absolute;
    width: 330px;
    height: 1024px;
    top: 3px;
    left: 0;
}

.desktop .overlap-14 {
    position: relative;
    width: 320px;
    height: 1024px;
    background-color: #1d1d41;
    border-radius: 20px;
}

.desktop .overlap-group-4 {
    position: absolute;
    width: 263px;
    height: 57px;
    top: 168px;
    left: 29px;
    background-color: #6359e9;
    border-radius: 10px;
}

.desktop .text-wrapper-42 {
    position: absolute;
    top: 17px;
    left: 53px;
    font-family: "General Sans Variable-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .element {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 17px;
    left: 15px;
}

.desktop .text-wrapper-43 {
    position: absolute;
    top: 251px;
    left: 82px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-44 {
    top: 308px;
    left: 82px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-size: 16px;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-45 {
    position: absolute;
    top: 369px;
    left: 82px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-46 {
    position: absolute;
    top: 428px;
    left: 82px;
    font-family: "General Sans Variable-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .bar-line-chart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 252px;
    left: 39px;
}

.desktop .wallet {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 307px;
    left: 39px;
}

.desktop .user {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 369px;
    left: 40px;
}

.desktop .settings {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 430px;
    left: 39px;
}
